{% extends 'animals/base.html' %}
{% load static %}

{% block css %}
	<link rel="stylesheet" href="{% static 'vendor/css/index.css' %}">
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="mt-5">Инсектопедия</h1>
                    <br><br>
                    <p>
                        С нашей энциклопедией вы узнаете о насекомых абсолютно всё!
                        Станьте повелителем комаров, пауков и богомолов уже сегодня!
                    </p>
                    <button id="start-purchase-btn" type="button" class="btn btn-lg">
                        <a id="start-purchase-link" href="{% url 'animals:index' %}">
                            Открыть картотеку
                        </a>
                    </button><br><br>
                    <button id="start-purchase-btn" type="button" class="btn btn-lg">
                        <a id="start-purchase-link" href="{% url 'search' %}">
                            Искать в картотеке
                        </a>
                    </button><br><br>
                    <button id="start-purchase-btn" type="button" class="btn btn-lg">
                        <a id="start-purchase-link" href="{% url 'simulator' %}">
                            Блиц-вопрос
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}