{% extends 'animals/base.html' %}
{% load static %}

{% block css %}
	<link rel="stylesheet" href="{% static 'vendor/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/animals.css' %}">
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <h1 class="mt-5">Симулятор жизненного цикла насекомого</h1>
                    <br><br>
                    <p>
                        Введите значения температуры в градусах Цельсия, % доступной еды и относительную влажность воздуха для симуляции
                    </p>
                        <br>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Запустить симуляцию</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script>
</script>
{% endblock %}
