{% extends 'animals/base.html' %}
{% load static %}

{% block css %}
	<link rel="stylesheet" href="{% static 'vendor/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/animals.css' %}">
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="mt-5">Симулятор</h1>
                    <br><br>
                    <p>
                        Введите три значения
                    </p>
                        <br><br>
                    <form method="post">
                        {% csrf_token %}
                        <label for="n1">Число 1</label>
                        <input type="text" id="n1" name="n1">
                        <br><br>
                        <label for="n2">Число 2</label>
                        <input type="text" id="n2" name="n2">
                        <br><br>
                        <label for="n3">Число 3</label>
                        <input type="text" id="n3" name="n3">
                        <br><br>
                        <button type="submit">Сложить</button>
                    </form>
                    {% if result %}
                        <h2>Результат: {{ result }}</h2>
                    {% endif %}
                        
                </div>
            </div>
        </div>
    </section>

    <script>
</script>
{% endblock %}
