{% extends 'animals/base.html' %}
{% load static %}

{% block css %}
	<link rel="stylesheet" href="{% static 'vendor/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/animals.css' %}">
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="mt-5">Блиц-вопрос</h1>
                    <br><br>
                    <p>
                        Ответьте на вопрос:
                    </p>
{#                    {% for animal in animals_l %}#}
{#                        <p>Имя: {{animal.name}}</p>#}
{#                    {% endfor %}#}
                        <p>К какому подклассу принадлежит <b>{{ question_name }}</b>?</p>
                         <form method="post">
                            {% csrf_token %}
                            <select id = "answer" style="width:300px">
                                <option></option>
                                {% for cat in category %}
                                    <option >{{ cat.subclass }}</option>
                                {% endfor %}
                            </select>
                            <br><br>
                            <button id="start-purchase-btn" type="button" class="btn btn-lg" style="width:300px">
                                <a id="show_answer">
                                    Показать ответ
                                </a>
                            </button>
                         <br>
                         </form>
                        <br>
                        <button id="start-purchase-btn" type="button" class="btn btn-lg" style="width:300px">
                            <a id="start-purchase-link" href="{% url 'simulator' %}">
                                Сгенерировать еще вопрос
                            </a>
                        </button>
                        <br><br>
                            <p id="true_answer" style="display: none">Правильный ответ: <b>{{ question_answer }}</b></p>
                </div>
            </div>
        </div>
    </section>

 <!--
    <script>

    let ans = document.getElementById('answer');
    let true_answer = document.getElementById('true_answer').textContent;
    let my_answer = ans.options[ans.selectedIndex].value;

    const callback = () => {
        alert('Правильный ответ: ' + true_answer);
}

    const button = document.querySelector('#mybut');

    button.addEventListener('click', callback);
</script>
-->

    {% block js %}
        <script>
        // Находим кнопку и добавляем обработчик события "click"
        document.getElementById('show_answer').addEventListener('click', function () {
            var answerElement = document.getElementById('true_answer');
            if (answerElement) {
                answerElement.style.display = 'block';
            }
        });
    </script>
    {% endblock %}
{% endblock %}
